// Typography
// --------------------------------------------------

$base-font: 'Libre Baskerville', Liberation, serif;
$heading-font: 'Josefin Slab', calibri, sans-serif;
$caption-font: $base-font;
$code-font: monospace;
$alt-font: serif;

$doc-font-size: 20;
$doc-line-height: 26;


// set-up the body font-size / line-height
body {
	font-size: 0px + $doc-font-size;
}


// Colors
// --------------------------------------------------
$base-color				 : rgba(#1B3022,0.8);
$header-color			 : rgba(#1B3022,0.8);
$sub-item-color			 : rgba(#C3EB78, 0.8);
$header-margin			 : #9BE564;
$menu-top				 : #1B2021;
$menu-height			 : 70px;
$menu-overflow			 : #111111;
$body-color      		 : #111111;
$text-color      		 : rgba(#111111,0.8);
$comp-color 	 		 : complement(#011638);
$border-color    		 : lighten(#1B2021,60);
$white           		 : #F1FFEF;
$black           		 : #111111;
$link-color 		     : rgba(#1B3022,0.8);

$primary			     : #011638;
$success			     : #5cb85c;
$warning			     : #dd8338;
$danger				     : #C64537;
$info				     : #011638;


// Screen Size
// --------------------------------------------------

$small               : "only screen and (min-width: 30em)";
$medium              : "only screen and (min-width: 48em)";
$large               : "only screen and (min-width: 62.5em)";
